body, html, * {
  margin: 0;
  padding: 0;
}

.height-100vh {
  height: 100vh;
}

.width-80 {
  width: 80%;
}

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.padding-10 {
  padding: 10px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-light-gray {
  background-color: #f3f3f3;
}
